<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COIMA</title>
        <link rel="shortcut icon"  href="../../public/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>

            #theme{
                color:orange;
            }

            #divnavBar{
                max-width:none;
                padding-left:0;
                padding-right:0;
            }

            #divJumboTron{
                background-color:black;
                padding-top: 0;
            }

            #divCard{
                width:15rem;
                margin-right: auto;
                margin-left: auto
            }

            #divColmax-width{
                max-width: fit-content
            }

            #pfont-size{
                font-size:xx-large;
                padding-top: 0;
            }

            #imgWidth {
                width: 350px
            }

            #starWidth{
                width: 30px
            }

            #movieTitlepadding{
                padding-left: 0;
            }

            #pFilmography{
                margin-left: 1.75rem;
                margin-top: 5rem;
                margin-bottom: 5px;
                font-size:xx-large;
            }

            #pCast{
                margin-top: 5rem;
                margin-bottom: 20px;
                margin-left: 1.75rem;
                font-size:xx-large;
            }

            #marginPagination{
                margin-left: 28rem;
            }

            #mBottomList{
                margin-bottom: 2rem;
            }

        </style>
    </head>
    <body>