<div id="divnavBar" class="container pb-4">
    <nav class="navbar navbar-expand-lg bg-dark">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a id="theme" class="nav-link" href="/home">Home</a>
            </li>
        </ul>
        <form method="get" action="/search">
            <div class="input-group">
                <input name="name" type="text" class="form-control mr-sm-2" placeholder="Insert Movie Name...">
                <input name="page" type="hidden" value = "1">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </div>
        </form>
    </nav>
</div>

