<div id="marginTopLogin" class="container">
    <h1 id="txtAlignCenter" class="display-2"><span class="fa fa-film"></span>COIMA</h1>
    <h1 id="txtAlignCenter" class="lead">Sign Up to manage your movie lists as you wish</h1>
    <form method="post" action="/auth/register">
        <div class="form-group">
            <label class="lead">Email:</label>
            <input type="text" name="email" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="lead">Username:</label>
            <input type="text" name="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="lead">Password:</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <div id="txtAlignCenter" class="form-group">
            <button class="btn btn-outline-warning" type="submit">Sign Up</button>
        </div>
    </form>
</div>