{{>base}}
{{>navBar}}
    <div class="jumbotron jumbotron-fluid" style="background-color:lightblue">
        <div class="container">
            <h1 class="display-3"><span class="fa fa-film"></span>404</h1>
            <p class="lead">{{title}}</p>
        </div>
    </div>
{{>footer}}