{{>base}}
{{>navBar}}
<div class="jumbotron jumbotron-fluid" style="background-color:lightblue">
    <div class="container">
        <h1 class="display-3"><span class="fa fa-film"></span>500</h1>
        <p class="lead">{{title}}</p>
        <p class="lead">{{message}}</p>
    </div>
</div>
{{>footer}}