{{>base}}
{{>navBar}}
<div id="divJumboTron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><span class="fa fa-exclamation-triangle"></span>{{statusCode}}</h1>
        <p class="lead">{{title}}</p>
        <p class="lead">{{message}}</p>
    </div>
</div>
{{>footer}}