<div class="container pb-4" style="max-width:none; padding-left:0;padding-right:0; ">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" style="color: orange" href="/home">Home</a>
            </li>
        </ul>
        <form method="get" action="/search">
            <div class="input-group">
                <input name="name" type="text" class="form-control mr-sm-2" placeholder="Insert Movie Name...">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </div>
        </form>
    </nav>
</div>

