{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.username}}'s Lists</h1>
    </div>
</div>

<div class="container pt-5">
    <div id="mainDiv" class="row">
        {{#each lists}}
            {{>cardMovieList}}
        {{/each}}
    </div>
</div>
<div class="row">
    <div id="crtLsts">
        <a class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create List</a>
    </div>
</div>

