{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.fullName}} <span
                id="fontSize">({{user.username}})</span></h1>
        <p id="themeColor" class="lead">{{user.email}}</p>
    </div>
</div>
<div class="container pt-5">
    <div id="listsHeader" class="row">
        <h2>My Lists:</h2>
        <a id="buttonAddList" class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create List</a>
    </div>
    <div id="mainDiv" class="row">
        {{#each lists}}
            {{>cardMovieList}}
        {{/each}}
    </div>
</div>