{{#if user}}
    <h1 id="txtAlignCenter" class="lead">My Lists</h1>
    <div class="list-group">
        <ul>
            {{#each user.lists}}
                <li>
                    <a href="#"><span class="fa fa-film"></span>{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}